@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #e9edc9;
  color: #7c797a;
}

.subheading {
  font-size: 3rem;
  padding: 3rem 0;
  text-transform: lowercase;
}

#viewModal {
  background-color: rgb(199, 210, 183);
}

/* color palette  
background: #e9edc9 
primary font: #7c797a 
accent font:  #ccd5ae;
*/
